* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: system-ui, sans-serif;
    color: white;
    background-color: #212121;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-weight: 800;
    font-size: 3.5rem;
    text-align: center;
}