<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>i-Blog - Signup</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container">
            <div class="card p-3 mt-5 mx-auto" style="max-width: 500px;">


                <h2 class="text-center p-2">Sign In</h2>
                <form method="post" action="/user/signin">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required />
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required />
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
            </div>
        </div>


        <%- include('./partials/scripts') %>
</body>

</html>